 @font-face { font-family: Raajaa; src: url('raajaa_7.ttf'); } 
 @font-face { font-family: GurbaniAkhar; src: url('gurbaniakhar.ttf'); } 
@font-face { font-family: Avenir; src: url('avenir.ttc'); } 



.gurbani {
    font-family: "Raajaa";
    text-align: center;
    font-size: 2.1vw;
}

.punjabi {
    font-family: "GurbaniAkhar";
    text-align: center;
    font-size: 1.8vw;
}

.english {
    font-family: "Avenir";
    text-align: center;
    font-size: 1.7vw;
}

.date {
    font-family: "Avenir";
    text-align: center;
    font-size: 1.8vw;
}

.ndate {
    font-family: "GurbaniAkhar";
    text-align: center;
    font-size: 1.8vw;
}

.ang {
    font-family: "Avenir";
    text-align: center;
    font-size: 1.8vw;
}

.writer {
    font-family: "GurbaniAkhar";
    text-align: center;
    font-size: 1.8vw;
}

.raag {
    font-family: "GurbaniAkhar";
    text-align: center;
    font-size: 1.8vw;
}



table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}


.table{
    display:flex;
    justify-content:center;
    height: "50px";

}

.tr{
    display:flex;
    justify-content:center;
}

.td{
    justify-content:center;
    width: "20%";


}

table{
    justify-content:center;
    width: "20%";


}